.bg {
  background-image: url("https://images.ctfassets.net/wqdtr8q8192q/28KbLkjsWV6G0MV11VfXmE/a2d73238229bfda923152ed30aa905ec/iStock-1353245759.jpg?fm=webp&w=1440");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding: 25px;
}

.formData {
  background-color: #ffffff;
  height: 20vh;
  width: 50vw;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.depature {
  height: 30px;
  width: 15vw;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}
.Arival {
  height: 30px;
  width: 15vw;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}
.Date {
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
.search {
  height: 45px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  margin-top: 25px;
}
.vehicles {
  background-color: #ffffff;
  width: 50vw;
  padding: 20px;
  border-radius: 15px;
  margin-top: 25px;
}
.vehicle-head {
  text-align: center;
}
.list-item {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  border-radius: 10px;
}
.img-el {
  height: 150px;
  width: 250px;
  border-radius: 10px;
}
.vehicle-name {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 500;
}

.car-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.type {
  margin-top: 0px;
}
.list-data {
  padding: 10px;
}
.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
